[Unit]
Description=EdgePi Agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
User=cloud
ExecStartPre=
ExecStart=

[Install]
WantedBy=multi-user.target