[Unit]
Description=EdgePi Agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
User=cloud
ExecStartPre=wget -q https://github.com/shadow-racer/edge-pi-agent/archive/latest.zip -O /tmp/latest.zip && unzip -q -o /tmp/latest.zip -d /home/cloud
ExecStart=/home/cloud/edge-pi-agent-latest/edgepid

[Install]
WantedBy=multi-user.target